{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/api-buttons.css' %}">
    <title>Massage Service</title>
</head>
<body>
    
    <header>
        <!-- website logo: -->
        <div id="logo">
            <a href="{% url 'therapists:home' %}"><img src="{% static 'img/logo.jpg' %}" alt="Massage Service"></a>
        </div>
        <!-- navigation bar: -->
        <nav>
            <div class="menu">
            <ul>
                <li><a href="{% url 'therapists:notifications' %}">Notifications</a></li>
                <li><a href="{% url 'therapists:schedule' %}">Your Schedule</a></li>
                <li><a href="{% url 'therapists:about' %}">About us</a></li>
                <li><a href="{% url 'therapists:contact' %}">Contact</a></li>
                <li><a href="{% url 'therapists:profile' %}">Profile</a></li>
                <li><a href="{% url 'therapists:register' %}">Sign up</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'therapists:logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'therapists:login' %}">Log In</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
        </header>

        <main>

            <div class="main_content">
            {% block content %}
            {% endblock %}
            </div>
        </main>
        <footer> <p>Background image designed by <a href="https://www.freepik.com" target="_blank">Freepik</a></p> 
</body>
</html>