{% extends './base.html' %}

{% block content %}

    <nav>
        <div class="sidebar">
            <ul>
                <li><a href="">Personal Details</a></li>
                <li><a href="">Professional Details</a></li>
                <li><a href="">Service Settings</a></li>
                <li><a href="">Equipment</a></li>
                <li><a href="">Payment settings</a></li>
                <li><a href="">Privacy and Security</a></li>
            </ul>
        </div>
    </nav>
    
    <div class="page_content">
        <h1>Your Profile</h1>
    </div>

    <!-- Show therapist profile with options to modify personal info -->

{% endblock %}