{% extends './base.html' %}

{% block content %}

    <div class="sidebar_page">
        <nav class="sidebar">
            <ul>
                <li><a href="{% url 'therapists:profile' 'personal_details' %}">Personal Details</a></li>
                <li><a href="{% url 'therapists:profile' 'professional_details' %}">Professional Details</a></li>
                <li><a href="{% url 'therapists:profile' 'service_settings' %}">Service Settings</a></li>
                <li><a href="{% url 'therapists:profile' 'payment_settings' %}">Payment settings</a></li>
                <li><a href="{% url 'therapists:profile' 'privacy_security' %}">Privacy and Security</a></li>
            </ul>
        </nav>
        
        <div class="page_content">

            {% if section == 'personal_details' %}
                <h2>Personal Details</h2>


            {% elif section == 'professional_details' %}
                <h2>Professional Details</h2>
                

            {% elif section == 'service_settings' %}

                <h2>Service Settings</h2>

                <div>
                    <h3>Your Services</h3>
                                        
                    <form method="post">
                        {% csrf_token %}
                        {% for form in service_forms %}
                            <div class="service_list">
                                {{ form.as_p }}
                                {% if form.instance.id %}
                                    <input type="hidden" name="service_id" value="{{ form.instance.id }}">
                                    <button class="delete_button">
                                        <a href="{% url 'therapists:delete_service' therapist.id form.instance.id %}">Delete Service</a>
                                    </button>
                                {% endif %}
                            </div>
                        {% endfor %}
                        <button class="submit_button" type="submit" name="save_changes">Save Service Changes</button>
                    </form>

                    <h3>Add a Service</h3>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="service">
                            <div class="form-field">
                                {{ service_form.service.label_tag }}
                                {{ service_form.service }}
                            </div>
                            <!-- Add Select Service Button -->
                            <button class="submit_button" type="submit" name="select_service">Add Service</button>                        
                        </div>
                    </form>
                </div>

            {% elif section == 'payment_settings' %}
                <h2>Payment Settings</h2>
                

            {% elif section == 'privacy_security' %}
                <h2>Privacy and Security</h2>
                
            {% endif %}
            
            <form method="post" enctype="multipart/form-data">
                <div class="form-grid">
                    {% csrf_token %}
                    
                    <!-- Render form fields based on the section -->
                    {% if section == 'personal_details' %}
                        <div class="form-group">
                            {{ personal_form.picture.label_tag }}
                            {% if therapist.picture %}
                                <div class="profile-picture">
                                    <img src="{{ therapist.picture.url }}" alt="Profile Picture">
                                </div>
                            {% endif %}
                            {{ personal_form.picture }}
                        </div>
                        <div class="form-group">
                            <div class="form-field">
                                {{ personal_form.name.label_tag }}
                                {{ personal_form.name }}
                            </div>
                            <div class="form-field">
                                {{ personal_form.gender.label_tag }}
                                {{ personal_form.gender }}
                            </div>
                            <div class="form-field">
                                {{ personal_form.description.label_tag }}
                                {{ personal_form.description }}
                            </div>
                        </div>
                        <div>
                            <div class="form-field">
                                {{ personal_form.address.label_tag }}
                                {{ personal_form.address }}
                            </div>
                            <div class="form-field">
                                {{ personal_form.phone_number.label_tag }}
                                {{ personal_form.phone_number }}
                            </div>
                        </div>

                    {% elif section == 'professional_details' %}
                        {{ pro_form.as_p }}

                    {% elif section == 'privacy_security' %}
                        {{ password_form.as_p }}

                    {% else %}
                        {{ empty_form.as_p }}
                    {% endif %}
                </div>
                <!-- Submit Button -->
                <button class="submit_button" type="submit">Save Changes</button>
            </form>

        </div>
    </div>

{% endblock %}