body {
  margin-left: auto;
  margin-right: auto;
  min-width: 600px;
}

header {


    /* define margins and paddings around the header: */
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
    padding: 30px 30px 0 30px;
  
    /* add round corners */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  
    /* define the header background color: */
    background-color: white;
  
    /* declare flex: */
    display: flex;
  
    /* position elements of the header */
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .menu ul {
    list-style-type: none;
    gap: 2em;
    /* declare flex: */
    display: flex;
  
    /* define that the content will be displayed horizontally: */
    flex-direction: row;
  
    /* define spacing between navigation elements: */
    justify-content: space-around;
  }
  
  .menu a {
    /* style the font of the navigation elements */
    font-family: sans-serif;
    color: black;
    text-decoration: none;
  }

main {
  background-image: url("../img/main_background.jpg");
  background-size: cover;
  min-width: 600px;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  height: 100vh; 

  /* define main background color */
  background-color: white;
}

.main_content{

  max-width: 1920px;
  min-width: 600px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;


  margin-left: auto;
  margin-right: auto;
}

.page_content{
  max-width: 1200px;
  width: 100%;
  height: auto;
  align-self: flex-start;

  padding: 30px;
  margin:30px;
  border-radius: 15px;

  background-color:  rgba(255, 255, 255, 0.8);
}

.page_content p {
  text-align: justify;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.4;
  color: black;
}

.page_content h1 {
  font-family: sans-serif;
  color: black;
}