{% extends './base_wrapper.html' %}

{% block content %}
    <div class="page_content">
        <h1>Log in</h1>
        <div class="button-container">
            <h2>Log in with email</h2>

            <!-- This will be linked to the proper form in the login view -->
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit">Log In</button>
            </form>

            <!-- buttons have 2 classes: a general one and one specific to each -->
            <a href=""><button class="button google-sign-in"></button></a>
            <a href=""><button class="button facebook-continue"></button></a> 
            <p>New to our platform? <a href="{% url 'customers:register' %}">Create account</a></p>
            <p>Joining as a therapist? <a href="{% url 'therapists:register' %}">Create account</a></p>
        </div>
    </div>


{% endblock %}