{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://js.stripe.com/v3/"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/api-buttons.css' %}">
    <title>Massage Service</title>
</head>
<body>
    
    <header>
        <!-- website logo: -->
        <div id="logo">
            <a href="{% url 'home' %}"><img src="{% static 'img/logo.jpg' %}" alt="Massage Service"></a>
        </div>
        <!-- navigation bar: -->
        <nav>
            <div class="menu">
            <ul>
                <li><a href="{% url 'customers:services' %}">Services</a></li>
                <li><a href="{% url 'customers:bookings' %}">Bookings</a></li>
                <li><a href="{% url 'customers:about' %}">About</a></li>
                <li><a href="{% url 'customers:contact' %}">Contact</a></li>
                <li><a href="{% url 'customers:profile' %}">Profile</a></li>
                <li><a href="{% url 'customers:register' %}">Sign up</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'customers:logout' %}">Log Out</a></li>
                {% else %}
                    <li><a href="{% url 'customers:login' %}">Log In</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
        </header>

        <main>
            <div class="main_content">
            {% block content %}
            {% endblock %}
            </div>
        </main>
</body>
</html>